body {
  background-color: #dbdad5;
  max-width: max-content;
  max-height: max-content;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#table {
  width: 100%;
  background-color: white;
}

#button-add-trip {
  margin: 16px 24px 16px 24px;
}

tr,
th {
  padding: 6px 8px;
}

#modal-trip-name {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 80px;
}

#modal-trip-name {
  display: none;
}
